@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-18px-medium-semibold: Sora;
  --label-large-label: Inter;
  --font-roboto: Roboto;
  --font-inherit: inherit;

  /* font sizes */
  --body-body-2-size: 14px;
  --font-size-mini: 15px;
  --body-18px-medium-semibold-size: 18px;
  --label-large-label-size: 16px;
  --body-12px-small-regular-size: 12px;
  --body-24px-medium-bold-size: 24px;
  --font-size-xl: 20px;
  --font-size-3xs: 10px;
  --body-36px-medium-bold-size: 36px;
  --body-72px-big-extrabold-size: 72px;

  /* Colors */
  --second-main: #f8f1ff;
  --main: #8c30f5;
  --black: #000;
  --light-purple: #d6b1ff;
  --color-plum-100: #ceaeee;
  --default-white: #fff;
  --text-gray-300: #d9dbe1;
  --color-gainsboro-100: #dadada;
  --gray: #d9d9d9;
  --blue-background: #e5f0ff;
  --color-aliceblue-100: #ebedf4;
  --color-aliceblue-200: #e5e9f2;
  --blue-ocean: #5897f6;
  --text-gray-900: #18191f;
  --default-black: #0b0d17;
  --color-darkslategray: #31394d;
  --color-mediumseagreen: #29cb97;
  --color-gold: #fec400;
  --color-darkorchid: #b558f6;
  --color-royalblue: #4072ee;
  --color-lightslategray: #748aa1;
  --color-whitesmoke-100: #efeeee;
  --yellow: #ebb500;
  --dark-gray: #737374;
  --color-lightsteelblue: #b8c5d3;

  /* Gaps */
  --gap-10xs: 3px;
  --gap-3xs: 10px;
  --gap-lgi: 19px;
  --gap-base: 16px;
  --gap-lg: 18px;
  --gap-5xs: 8px;
  --gap-2xs: 11px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-smi: 13px;
  --padding-mini: 15px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-base: 16px;
  --padding-11xl: 30px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-lg: 18px;
  --br-7xs: 6px;
  --br-3xs: 10px;
  --br-9xs: 4px;
  --br-12xs-5: 0.5px;
  --br-8xs: 5px;
  --br-10xs: 3px;
  --br-11xs: 2px;
}
